on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  jobbie:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Do something
        run: |
          composer install
          php -v
          mkdir result
          mkdir rates
          php run.php
      - name: Upload
        uses: bacongobbler/azure-blob-storage-upload@main
        with:
          source_dir: rates
          container_name: $web
          connection_string: ${{ secrets.ConnectionString }}
          # extra_args: '--pattern *.json'
          # WARNING: this will overwrite existing blobs in your blob storage
          overwrite: 'true'
